---
import Layout from "../layouts/Layout.astro";
import { Button } from "@/components/ui/button";
---

<Layout>
  <div class="flex-1 bg-amber-400">
    <h1>Hello World</h1>
    <Button>Click me</Button>
  </div>
</Layout>
