---
import Layout from "../layouts/Layout.astro";
import StockForm from "@/components/StockForm";
// export const prerender = false;
---

<Layout>
  <div class="flex-1 bg-neutral-800">
    <StockForm client:load />
  </div>
</Layout>
