---
import Layout from "../layouts/Layout.astro";
import StockForm from "@/components/StockForm";
import { SignUpForm } from "@/components/Signup";
---

<Layout>
  <div class="flex-1 p-4 flex justify-center items-center w-full">
    <SignUpForm client:load />
  </div>
</Layout>
